*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep          
JLinkLog.txt
*.iex
*.htm
*.sct
*.map
*.Administrator
*.uvopt

/STM32Project.uvguix.meng
/Objects/*.o
/Objects/*.crf
/Objects/*.d
/Objects/*.axf
/Objects/*.htm
/Objects/*.lnp
/Objects/*.sct
/Objects/*.dep
